html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.8rem;
  line-height: 1.6em;
  color: #3A4145;
}
a {
  color: #57A3E8;
  transition: color ease 0.3s;
  text-decoration: none;
  background: transparent;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #22313F;
}
h1 {
  font-size: 3.0rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 3.5rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}
#mill-app #sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100%;
  z-index: 100;
  background-color: #22313F;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  overflow-y: auto;
}
#mill-app #sidebar-content {
  position: relative;
  top: 4rem;
  width: 80%;
  margin: 0 auto;
}
#mill-app #sidebar .app-logo img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto 10px auto;
  line-height: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,.3),inset 0 0 40px 2px rgba(0,0,0,.3);
          box-shadow: 0 0 3px 3px rgba(0,0,0,.3),inset 0 0 40px 2px rgba(0,0,0,.3);
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
#mill-app .app-title {
  margin: 0 0 10px 0;
  font-weight: bold;
  text-shadow: 0 1px 6px rgba(0,0,0,0.1);
  text-indent: 0px;
  text-align: center;
}
#mill-app .app-title a {
  color: white;
  text-decoration: none;
}
#mill-app main {
  position: absolute;
  left: 320px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 4rem 15%;
}
#main-app main .main-index {
  max-width: 800px;
}
#main-app main .main-index .post {
  position: relative;
  max-width: inherit;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  hyphens: auto;
  margin-bottom: 2rem;
}
#main-app main .main-index .post-title {
  margin: 0;
  color: #222;
}
#main-app main .main-index .post-title a {
  text-decoration: none;
}

