html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.8rem;
  line-height: 1.6em;
  color: #3A4145;
}
a {
  color: #57A3E8;
  transition: color ease 0.3s;
  text-decoration: none;
  background: transparent;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  /*margin-top: 0;*/
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #22313F;
}
h1 {
  font-size: 3.0rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}
p, ul, ol, dl {
    margin: 1.2em 0;
}
p > code,
li > code {
  border: 1px solid #eee;
  padding: 2px 10px;
  border-radius: 3px;
  font-size: 85%;
  color: #555;
  white-space: nowrap;
}
pre {
  border-top-color: #ddd;
  border-radius: 3px;
  font-size: 85%;
  overflow-x: auto;
  line-height: 1.3;
  padding: 1.5rem;
  background: #fff;
  color: #333;
  overflow-x: auto;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
}
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
#mill-app #sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100%;
  z-index: 100;
  background-color: #22313F;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  overflow-y: auto;
}
#mill-app #sidebar-content {
  position: relative;
  top: 4rem;
  width: 80%;
  margin: 0 auto;
}
#mill-app #sidebar-content .site-footer {
  position: fixed;
  bottom: 0px;
  margin: 1rem auto;
  max-width: inherit;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #e6e9eb;
}
#mill-app #sidebar .app-logo img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto 10px auto;
  line-height: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,.3),inset 0 0 40px 2px rgba(0,0,0,.3);
          box-shadow: 0 0 3px 3px rgba(0,0,0,.3),inset 0 0 40px 2px rgba(0,0,0,.3);
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
#mill-app .app-title {
  margin: 0 0 10px 0;
  font-weight: bold;
  text-shadow: 0 1px 6px rgba(0,0,0,0.1);
  text-indent: 0px;
  text-align: center;
}
#mill-app .app-title a {
  color: white;
  text-decoration: none;
}
#mill-app main {
  position: absolute;
  left: 320px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 4rem 10%;
}
#mill-app main>div{
    max-width: 800px;
}
#mill-app main .mill-index .post {
  position: relative;
  max-width: inherit;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  hyphens: auto;
  margin-bottom: 2rem;
}
#mill-app main .mill-index .post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}
.post-title {
  margin: 0;
}
.post-title a {
  text-decoration: none;
}
.post-title a:hover {
  text-decoration: underline;
}
#mill-app main .mill-index .post .post-excerpt p {
  max-height: 200px;
  overflow: hidden;
}
.post-meta {
  display: inline-block;
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4em;
  color: #9EABB3;
}
.post-meta i {
  width: 18px;
  font-size: 14px;
  margin-right: 4px;
}
.post-meta a {
  color: #9EABB3;
  text-decoration: none;
  font-size: 14px;
}
.post-meta a:hover {
  color: #9EABB3;
  text-decoration: underline;
}
.post-meta .post-item-tags {
  margin-bottom: 0px;
  margin-top: 0px;
}
.mill-detail-content p,
.post-excerpt p {
  margin: 0.9rem 0 0 0;
  font-size: 0.9em;
  line-height: 1.6em;
}
figure {
  margin: 0;
}
.author-image {
    float: left;
    margin-right: 12px;
    margin-bottom: 20px;
}
.post-footer {
  position: relative;
  margin: 4rem 0 4rem 0;
  padding: 4rem 0 0 0;
  border-top: #EBF2F6 1px solid;
  border-bottom: #EBF2F6 1px solid;
}
.post-footer .author-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  padding: 6px;
  background: #fff;
  z-index: 2;
  box-shadow: #E7EEF2 0 0 0 1px;
}
.post-footer .author-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
    border-radius: 100%;
}
.post-footer .author {
    margin-right: 180px;
}
.post-footer .author-meta {
  padding: 0;
  margin: 1.6rem 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: #9EABB3;
}
.post-footer .author-meta i {
  display: inline-block;
  margin: 0 2rem 1rem 0;
  word-wrap: break-word;
}
.post-footer .author-meta a {
  margin-left: 1rem;
}
.post-footer .share {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 180px;
  text-align: center;
}
.post-footer .share a.fa:first-child {
    margin-left: 0;
}
.post-footer .share a {
  font-size: 3rem;
  display: inline-block;
  margin: 1rem 1.6rem 1.6rem 0;
  color: #BBC7CC;
  text-decoration: none;
}
@media only screen and (max-width: 500px) {
  #mill-app main {
    padding: 40px 12px;
  }
  .mill-detail-content {
    width: auto;
  }
  h1, h2 {
    font-size: 2.4rem;
    line-height: 1.1em;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 2.0rem;
  }
  code {
    word-break: break-word;
  }
}
@media (max-width: 1023px) {
  #mill-app #sidebar {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 16px 0px;
  }
  #mill-app #sidebar-content {
    position: relative:;
    top: 0px;
  }
  #mill-app #sidebar-content .site-footer {
    position: relative;
    margin: auto auto;
  }
  #mill-app main {
    position: relative;
    left: 0px;
  }
  .mill-detail-content {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
@media only screen and (max-width: 1023px) {
  main {
    padding: 40px 8%;
  }
}

.highlight {
  overflow: visible !important;
  background-color: transparent;
  margin-bottom:16px;
}
.pl-c {
  color: #969896;
}
.pl-k {
  color: #a71d5d;
}
.pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
  color: #183691;
}
